
.DS_Store
*.pyc
*.pyo
env
env*
venv
venv*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
TestData

# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/.vagrant
/website/build
/vagrant-spec.config.rb
