<html>
<link rel="stylesheet" href="{{ url_for('static', filename='csv.css')}}">
<div id="wrap">
<div id="header"><h1>IMMP</h1></div>
<div id="nav"></div>
<div id="sidebar">
  <input type=file id=files />
  <button id=upload>Upload</button>
  <br/><br/>
  <div class="result">
    <table id="result" border="1"></table>
  </div>
</div>
<div id="main">
  <img class= "mapper" id="mapper" src=https://i.imgur.com/jBMfAJh.jpg usemap="#mapper-map"/>
  <map name="mapper-map">
    <area shape="rect" data-name="1,all" coords="30,40,100,120" href="#">
    <area shape="rect" data-name="2,all" coords="192,482,327,627" href="#">
  </map>
</div>
<div id="footer"></div>

</div>

<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="../static/js/jquery.csv.min.js"></script>
<script src="../static/js/csv.js"></script>
<script src="../static/js/jquery.imagemapster.js"></script>
<script src="../static/js/main.js"></script>

</html>