{% extends "base.html" %}
{% block content %}

<div class="map-loader">
  <h2>Enter the URL for an image here</h2>

    <form class="form-inline" method="post" action="/postnewmap">
      <input class="maploadbox" id="URL" name="URL" type="text" />
      <br>
      <br>
      <input class="btn-primary" type='submit' />
    </form>
    <br>
    <p class="disclaimer">(You can send an image that you've sent before or submit a new one, we handle that!)</p>

  <h2>Or you can load a map by clicking an image below</h2>

  <div class="previews">

  {% for map in maps %}
  <div class="preview">
    <a href="/map/id={{ map.id }}">
      <img class="map-preview" src={{ map.url }} />
    </a>
  </div>
  {% endfor %}

  </div>



{% endblock %}