{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 csvstuff">
          <input type=file id=files />
          <button id=upload>Upload CSV file</button>
          <br/><br/>
          <div class="result">
            <table id="result" border="1"></table>
          </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">
            <img src=" {{ map.url }} " class="mapper" id="mapper" usemap="#mapper-map" onclick="createMapping(event, this)"/>
            <map name="mapper-map" class="mapper-map">
            </map>
          </div>
        </div>
      </div>

      <div class="footer">
        Image Map for MetPet v0.5
      </div>
    </div>
      <map name="mapper-map" class="mapper-map">
      </map>
    <div id="deleteTags"><button id="delete" class="btn btn-danger">Delete tags</button><button id="create" class="btn btn-success" style="display:none;">Create tags</button></div>
    <div id="help"><button type="button" class="btn btn-info">Help</button></div>
    <div id="cancel"><button type="button" class="btn btn-default">Cancel</button></div>
    <div id="save"><button type="button" class="btn btn-success">Save</button></div>

</div>
	<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <script src="../static/js/jquery.csv.min.js"></script>
  <script src="../static/js/csv-to-json-gist.js"></script>
  <script src="../static/js/csv.js"></script>
  <script src="{{ url_for('static', filename='js/jquery.imagemapster.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.imgareaselect.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jQuery-image-mapster-setup.js')}}"></script>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
  <script src="{{ url_for('static', filename='js/create_map.js')}}"></script>
  <script>
    $( document ).ready(function() {
      var csv = {{ map.csv|tojson }};
      var mappings = {{ map.mapping|tojson }};
      if (csv != null){
      	// This means CSV data already exists for this id, table should be built accordingly
      	build_table(csv);
      } else {
        console.log("No CSV found");
      }

      if (mappings != null){
        console.log("Building mappings");
      	build_mappings(mappings);
      } else {
        console.log("No mappings found");
      }
    });
  </script>
{% endblock %}