{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 main">
            <img src=" {{ map.url }} " class="mapper" id="mapper" usemap="#mapper-map" onclick="createMapping(event, this)"/>
        </div>
        <div class="col-sm-3">
          <div class=" panel panel-default">
            <div class="panel-heading">Collected Data (CSV)</div>
            <div class="panel-body csvstuff">
            <input type=file id=files />
              <button id=upload>Upload CSV file</button>
              <div class="result">
                <table class="table csvtable table-bordered" id="result" border="1"></table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        Image Map for MetPet v0.5
      </div>
    </div>
      <map name="mapper-map" class="mapper-map">
      </map>

    <div id="save"><button type="button">Save</button></div>

</div>
	<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <script src="../static/js/jquery.csv.min.js"></script>
  <script src="../static/js/csv-to-json.js"></script>
  <script src="../static/js/csv.js"></script>
  <script src="{{ url_for('static', filename='js/jquery.imagemapster.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.imgareaselect.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/imagemap.js')}}"></script>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
  <script src="{{ url_for('static', filename='js/create_map.js')}}"></script>
  <script>
    $( document ).ready(function() {
      var csv = {{ map.csv|tojson }};
      var mappings = {{ map.mapping|tojson }};
      if (csv != null){
      	// This means CSV data already exists for this id, table should be built accordingly
      	build_table(csv);
      } else {
        console.log("No CSV found");
      }

      if (mappings != null){
        console.log("Building mappings");
      	build_mappings(mappings);
      } else {
        console.log("No mappings found");
      }

    });
  </script>
{% endblock %}