{% extends "base.html" %}
{% block content %}
    <!-- I know a lot less about this part -->    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <!-- Example of data point linking, note onMouseover and onMouseout functions
          <ul class="nav nav-sidebar">
            <li class="data-title"><a href="https://getbootstrap.com/examples/dashboard/#">Data Points</a></li>
            <li id = "1"><a href="#" onMouseover="tableOver(1)" onMouseout="tableOut(1)">Rocks</a></li>
            <li id = "2"><a href="#" onMouseover="tableOver(2)" onMouseout="tableOut(2)">Chemicals</a></li>
            <li id = "3"><a href="#" onMouseover="tableOver(3)" onMouseout="tableOut(3)">Unidentified</a></li>
          </ul>
          -->
          <input type=file id=files />
          <button id=upload>Upload CSV file</button>
          <br/><br/>
          <div class="result">
            <table id="result" border="1"></table>
          </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <div class="row placeholders">

    <form class="inputstuff">
        <input type="text" id="imagename" value="" />
        <input type="button" id="btn" value="GO" />
    </form>
            <img class="mapper" id="mapper" usemap="#mapper-map" onclick="createMapping(event, this)"/>
            <map name="mapper-map" class="mapper-map">
            </map>
          </div>
        </div>
      </div>

      <div class="footer">
        Image Map for MetPet v0.5
      </div>
    </div>

    <div id="save"><button type="button">Save</button></div>

</div>
	<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <script src="../static/js/jquery.csv.min.js"></script>
  <script src="../static/js/csv.js"></script>

    <script type="text/javascript">
      document.getElementById('btn').onclick = function() {
          var val = document.getElementById('imagename').value;
          document.getElementById('mapper').src = val;
          $( '.inputstuff' ).hide();
          $.getScript("../static/js/jquery.imgareaselect.min.js");
          $.getScript("../static/js/jquery.imgareaselect.pack.js");
          $.getScript("../static/js/imagemap.js", function( data, textStatus, jqxhr ) {
            console.log( textStatus ); // Success
            console.log( jqxhr.status ); // 200
            console.log( "Load was performed." );
          });
          console.log("Done");
      }
    </script>
  <script src="{{ url_for('static', filename='js/jquery.imagemapster.js')}}"></script>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock %}